/* Custom styles */
*{
    margin:0;
    padding:0;
    border:none;
    outline: none;
    box-sizing: border-box;
}
body {
    display:flex;
}
.sidebar {
    positon:sticky;
    top:0;
    left:0;
    bottom:0;
    width:240px;
    height:100vh;
    padding:0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5 linear;
    background: rgba (113, 99, 186, 255);
}
.logo{
    height:80px;
    padding: 16px;
}
.menu{
    height:90%;
    position: relative;
    list-style:none;
    padding:0;

}
.menu li{
    padding:1rem;
    marigin: 8px 0;
    border-radius: 10px;
    transition: all 0.5 ease-in-out;
}
.menu li:hover{
    background: #e0e0e058;
}

.menu a{
    colour: #fff;
    font-size:14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span{
    overflow:hidden;
}
.menu a i{
    font-size:1.2rem;
}
.logout{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}