/* Custom styles */
*{
    margin:0;
    padding:0;
    border:none;
    outline: none;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 200px auto;
}
.sidebar {
    position: sticky;
    top:0;
    left:0;
    bottom:0;
    height:100vh;
    color: #fff;
    overflow: hidden;
    transition: all 0.5 linear;
    background: rgba(39, 164, 168);
}
.logo{
    height:80px;
    padding: 16px;
}
.menu{
    height:90%;
    position: relative;
    list-style:none;
    padding:0;

}
.menu li{
    padding:1rem;
    marigin: 8px 0;
    border-radius: 10px;
    transition: all 0.5 ease-in-out;
}
.menu li:hover,.active{
    background:#e0e0e058;
}

.menu a{
    colour:#fff;
    font-size:14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap:1.5rem;
}
.menu a span,i{
    color:white;
    overflow:hidden;
}
.menu a i{
    font-size:1.2rem;
}
.logout{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}

.main{
    position:relative;
    background:#ebe9e9;
    width: 100%;
    padding: 1rem;
}
.header-wrapper img{
    width:50px;
    height:50px;
    cursor:pointer;
    border-radius:50%;
}
.header-wrapper{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.header-title {
    color: rgba(39, 164, 168);
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
}

.search-box{
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: rgba(39, 164, 168);
    display: flex;
    align-items:center;
    gap: 5px;
    padding: 4px 12px;
}

.search-box input{
    background:transparent;
    padding: 10px;
}
.search-box i {
    font-size:1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.search-box i:hover{
    transform: scale(1.2);
}

.card-container{
    background:#fff;
    padding: 2rem;
    border-radius: 10px
}
.card-wrapper{
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.card-title{
    color: rgb(237, 237, 237);
    padding-bottom: 10px;
    font-size: 15px;
}

.main-course{
    position:;
    background:#ebe9e9;
    width: 100%;
    padding: 1rem;

}
.main-course .card{
    width: 25%;
    margin: 8px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0 ,0.2);
}

main-course .card h3{
    margin:10px;
    text-transform: capitalize;
}

.main-course .card button{
    background:rgba(39, 164, 168);
    color:white;
    padding:7px;
    border-radius:8px;
    margin-top:15px;
    cursor:pointer;
}
.main-course .card button:hover{
    background: rgb(237, 237, 237);
}
.main-course .card i{
    font-size:22px;
    padding:10px;
}